<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>
        <!--Inicio del header-->
        <%- include('partials/header.ejs') %>
            <!--Fin del header-->
            <!--Search-->
            <%- include('partials/search.ejs') %>
                <div class="container-all" id="move-content">


                    <div class="blog-container-cover">
                        <div class="container-info-cover">
                            <h1>¡Crea tu Anime favorito!</h1>
                        </div>
                    </div>


                </div>
                <!--fin del Search-->
                <div id="form-container">
                    <form action="/create" method="post">
                        <div class="ctn-input">
                            <label for="name">Nombre del anime</label>
                            <input type="text" name="name" >
                        </div>
                        <div class="ctn-input">
                            <label for="description">Reseña</label>
                            <textarea name="description" cols="30" rows="10"></textarea>
                        </div>
                        <div class="ctn-input">
                            <label for="genre"></label>
                            <select name="genre" >
                                <option value="">Indica un genero</option>
                                <option value="isekai">Isekai</option>
                                <option value="accion">Acción</option>
                                <option value="terror">Terror</option>
                            </select>
                        </div>
                        
                        <button type="submit">Crear</button>
                    </form>
                </div>
                <!--Footer-->
                <%- include('partials/footer.ejs') %>
                <!--Fin del footer-->

                    <script src="js/script.js"></script>
    </body>

</html>